/* всегда определяем для проекта */
html {
  box-sizing: border-box;
}

/* ставим, чтобы в старых версиях, где не прописан border-box, наследовались свойства ближайшего родителя */

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --logo-text-color: #000000;
  --section-text-color: #757575;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* цвет основного текста  #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* стилизация кнопки ссылка кнопка  */
.btn {
  display: inline-block;
  border: 2px solid black;
  border-radius: 3px;
  padding: 20px 40px;
  background-color: tomato;
  color: white;
  text-decoration: none;
}

.btn :hover,
.btn :focus {
  background-color: black;
  color: #ffffff;
  background-color: tomato;
}

.btn-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: skyblue;
  vertical-align: bottom;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.site-nav {
  align-items: initial;
  display: flex;
  list-style: none;
  margin: 0;
}

.container-img {
  display: flex;
  margin-left: auto;
}

.container-nav {
  margin-left: 85px;
  /* margin-top: 32px; */
  margin-bottom: 0;
}

/* end of menu*/

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  /* display: inline-flex; */
  padding-top: 60px;
  padding-bottom: 20px;
}

.logo-header {
  color: var(--logo-text-color);
}

.logo:hover {
  color: var(--accent-color);
}

.logo-wrapper {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* page header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 94px;
}

.button {
  font-family: inherit;
}

/* site nav */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.item-li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.commun {
  width: 161px;
}

.top {
  margin-left: 10px;
}
.communication {
  width: 122px;
  margin-left: 10px;
}
.ph {
  margin-left: 30px;
}
.site-nav .item-li + .item-li {
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.container-img .item-li + .item-li {
  margin-left: 30px;
}

/* hero */

.hero {
  text-align: center;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/header\ .jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--title-text-color);
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  padding-bottom: 50px;
  padding-top: 94px;
  margin: 0;
}

.section-title.centered {
  text-align: center;
}

/* advantages */
.advantages-list {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 270px;
  margin-right: 30px;
}
.antenna::before {
  content: "";
  display: block;
  height: 70px;
  background-image: url("../images/antenna.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.item:last-child {
  margin-right: 0;
}

.advantages-list.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.advantages-list .p {
  margin-top: 0;
  margin-bottom: 10px;
}

.title {
  margin-top: 55px;
  margin-bottom: 10px;
}

.list .ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* works */
.bottom-work {
  width: 370px;
  height: 70px;
}

.works-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.container-works {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.works-li {
  width: 370px;

  margin-right: 30px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works-li:last-child {
  margin-right: 0;
}

/* page portfolio */

.card-link {
  display: block;
}
.visually-hidden {
  visibility: hidden;
}
/* works portfolio */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.vector {
  display: block;
}

/* filter works */

.container-filter {
  display: flex;
  margin-top: 0;
  margin-bottom: 34px;
  padding-left: 0;
  margin-left: 495px;
  margin-right: 495px;
  width: 611px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

/* team */

.team {
  background-color: #f5f4fa;
}

.flex-elements {
  width: 270px;
  margin-right: 30px;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.flex-elements:last-child {
  margin-right: 0;
}

.team-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.team-title {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-p {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--section-text-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  margin-right: 0;
}

/* clients */

.clients {
  display: flex;
  justify-content: space-between;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  margin-right: 30px;
}

.picture:last-child {
  margin-right: 0;
}

/* button */

.but {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  font-weight: bold;
  color: var(--primary-white-color);
  color: white;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.but :hover,
.but :focus {
  background-color: navy;
}

.button {
  color: var(--accent-color);
}

.button :hover {
  color: var(--accent-color);
}

.button-style {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color);
  margin-right: 8px;
  text-align: center;
}

.button-style:last-child {
  margin-right: 0;
}

.button-style :hover,
.button-style :focus {
  color: var(--accent-color);
}

.button-primary :hover {
  background: var(--accent-color);
}

.button-secondary {
  color: var(--title-text-color);
  background-color: blue;
}

a {
  text-decoration: none;
}

h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.text {
  color: var(--section-text-color);
}

/* footer */

.footer-section {
  background-color: #2f303a;

  height: 252px;
}

.container.footer {
  display: flex;
  align-items: baseline;
  height: 252px;
}

.logo-footer {
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 1.19;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.address {
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  flex-direction: column;
}

.address-item {
  display: flex;
  flex-direction: column;
}

.social {
  min-width: 207px;
  margin-right: 94px;
  margin-left: 69px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.social-item {
  margin-right: 10px;
  text-align: center;
}

.mail {
  color: var(--accent-color);
  padding-bottom: 9px;
}

.mail:hover {
  color: var(--accent-color);
}

.phone:hover {
  color: var(--section-text-color);
}

.phone {
  color: var(--section-text-color);
}

.join {
  display: block;
  margin-bottom: 20px;
  padding-top: 72px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.street {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 9px;
  margin: 0;
}

.subscription {
  display: flex;
  width: 570px;
  padding-right: 275px;
  padding-top: 72px;
  padding-bottom: 94px;
}

.mailing {
  width: 219px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
